<style>
    .banner-menu-link {
        list-style: none;
        background: #141414;
        border-radius: 5px;
        letter-spacing: 2px;
    }
    .banner-menu-link a {
        color: #FFFFFF;
        text-decoration: none;
        font-weight: bold;
    }
</style>
<li class="banner-menu-link {{ class }}">
    <a href="{{ url }}">{{ title }}</a>
</li>