<style>
    .value-props-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 42px;
        margin-bottom: 59px;
    }
    .value-prop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 14px;
    }
    .value-prop__image-wrapper {
        width: 70px;
        height: 44px;
    }
    .value-prop__image-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .value-prop__text {
        font-family: var(--font-heading-family);
        font-weight: bold;
        font-size: clamp(16px, 2vw, 20px);
        letter-spacing: clamp(0.8px, 2vw, 1px);
        color: #141414;
        text-align: center;
    }
    @media screen and (min-width: 601px) {
        .value-props-wrapper {
            margin-bottom: 69px;
            flex-direction: row;
        }
        .value-prop {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 26;
        }
        .value-prop__image-wrapper {
            width: 76px;
            height: 65px;
        }
    }
</style>

<section class="page-width" id={{ section.id }}>
    <div class="value-props-wrapper">
        {% if section.blocks.size == 3 %}
            {% for block in section.blocks %}
                <div class="value-prop value-prop{{ forloop.index }}">
                    <div class="value-prop__image-wrapper">
                        <img src="{{ block.settings.image | image_url: width: 200 }}" alt="value prop icon">
                    </div>
                    <div class="value-prop__text">
                        <span>
                            {{ block.settings.text }}
                        </span>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</section>

{% schema %}
  {
    "name": "value props test",
    "settings": [],
    "blocks": [
      {
        "type": "value-prop",
        "name": "value prop",
        "limit": 3,
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "value prop icon"
            },
          {
            "type": "richtext",
            "id": "text",
            "label": "value prop text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "value props test"
      }
    ]
  }
{% endschema %}